.search {
	margin-bottom: 20px;
	padding: 14px 10px 14px 30px;
	box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	height: 44px; /*line heigth*/
	border: 1px solid #efefef;
	border-radius: 3px;
	outline: none;
	font: inherit;
	background-color: #f2f2f2;
	&::placeholder {
		color: #c6c6c6;
	}
}
