.search {
  margin-bottom: 60px;
  padding: 10px 8px;
  width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  outline: none;
  background-color: #F2F2F2;
  &::placeholder {
    color: #c6c6c6;
  }
}