.holder {
  margin: 20px;
}

.link {
  display: block;
  padding: 5px;
}

.navlinks {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  & li {
    margin: 0;
    padding: 0;
  }
}