.holder {
  /* margin: 20px 15px 0; */
}

.link {
  display: block;
  padding: 5px;
}

.navlinks {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    margin: 0;
    padding: 0;
  }
}

div,
p,
h1,
h2,
h3 {
  box-sizing: border-box;
}

:root {
  --padding-cell: 5px;
}
