.button {
  width: 100%;
  height: 20px;
  border: 0;
  background-color: #ffffff;

  &:hover {
    background-color: #f2f2e5;
  }

  &.is__active {
    background-color: #fff9b8;
  }
}
