.label {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5px 0;
  margin-right: auto;
}

.label input {
  left: 0;
  width: 20px;
  height: 20px;
}

/* .circle {
  border-radius: 50%;
} */
