:root .resultPage {
  position: relative;
  overflow-x: scroll;
  
  & > * {
    position: sticky;
    left: 0;
  }

  & .pageEnd {
    position: relative;
  }
}

.noDataList {
  padding: 0;
  list-style: none;

  & li {
    margin: 0;
    padding: 0;
  }
}
