:root .resultPageWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  box-sizing: border-box;
  height: 100vh;
}

:root .resultPage {
  position: relative;
  overflow: scroll;
  flex: 1;
  
  & > * {
    position: sticky;
    left: 0;
  }
}

.noDataList {
  padding: 0;
  list-style: none;

  & li {
    margin: 0;
    padding: 0;
  }
}
