.resultPage {
  position: relative;
  overflow-x: scroll;
  width: 100%;
  & > * {
    position: sticky;
    left: 0;
  }
}



.noDataList {
  padding: 0;
  list-style: none;

  & li {
    margin: 0;
    padding: 0;
  }
}

