body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: black;
  
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/fonts/HelveticaNeueCyr-Roman.woff') format("woff"); 
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  src: url('../src/fonts/HelveticaNeueCyr-Bold.woff') format("woff");
}

@font-face {
  font-family: 'TT Commons';
  src: url('../src/fonts/TTCommonsRegular.otf') format("otf"); 
}

@font-face {
  font-family: 'TT Commons';
  font-weight: bold;
  src: url('../src/fonts/TTCommonsMedium.otf') format("otf");
}

::-webkit-scrollbar:horizontal { 
    display: none; 
}